body{
    background-image: url(https://gas-kvas.com/grafic/uploads/posts/2023-09/1695826596_gas-kvas-com-p-kartinki-genshin-impakt-13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position:center ;
	height: 100dvh;
}


.wrapper{
    display: flex;
    justify-content: center;
}

h1{
  font-family: 'Times New Roman', Times, serif;
   font-size: 95px;
   text-align: center;
   @media (max-width:600px) {
	font-size: 40px;
   }
}



.button {
	box-shadow: 3px 4px 0px 0px #166fab;
	background:linear-gradient(to bottom, #ff7aff 5%, #3f39e3 100%);
	background-color:#ff7aff;
	border-radius:5px;
	border:1px solid #6634c2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:37px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    margin-top: 300px;
  
}
