* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);
  box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.532);
  text-align: center;
  &::before {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url(https://barber-xplo.vercel.app/img/case-after.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotate 5s infinite linear;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }

  img {
    width: 90%;
    /* box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.532) ; */
    filter: drop-shadow(rgba(0, 0, 0, 0.421) 1px 1xp 20px);
  }
}

.wrapper {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/8284067/pub_64046063976ffe173bb5659a_64046319eec1806a68369097/scale_1200);
  background-size: contain;
  background-position: center;

  width: 100%;
}
.rotate {
  animation: rotate 8s infinite linear;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 10;
  object-fit: contain;
  background-color: rgb(225 225 225);
}
