body{
    font-family: 'Roboto Condensed', sans-serif;
}

.wawe {
    background-image: url(../img/wawe-new.jpg);
  background-repeat: no-repeat;
 background-size: cover;
    height: 100vh;
}
.container {
    width: 1200px;
    margin: 0 auto;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.logo {
}
.link {
    color: aliceblue;
}
.link:hover{
    border-bottom: 1px solid aqua;
}
.wawe-box {
    margin: 0 auto;
    width: max-content;
    text-align: center;
    margin-top: 200px;
}
.wawe-text {
    color: #000;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;


margin-top: 20px;
}
h3{
    opacity: 40%;
}
