body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
    padding: 50px 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.top {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h2{
    color: #000;

font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 128.571% */
}
h3{
    color: #000;

font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 140% */
margin-bottom: 50px;
}
.top a{
    color: var(--system-gray-01-light, #8E8E93);

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}
.top a:hover{
    border-bottom: 1px solid black;
}
.wrab {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    border-radius: 16px;
border: 1.5px solid #E6E6E6;
background: #FFF;
width: max-content;
width: 100%;
max-width: 300px;
}
.box {
    padding: 15px 20px;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}
.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

}
.name p{
    color: var(--system-gray-01-light, #8E8E93);
white-space: nowrap;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

.card-img{
    width: 100%;

}
.bid p{
    color: var(--system-gray-01-light, #8E8E93);
padding-bottom: 4px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

bid{
    text-align: right;
}