* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards__wrapper {
  margin: 0;
  text-align: center;

  p {
    margin: 10% auto;
    width: 100%;
    text-align: center;
    line-height: 30px;
    text-wrap: wrap;
  }
}

.button {
  font-size: 45px;
  text-decoration: none;
  font-family: Arial;
  padding: 10px 20px;
  border-width: 1px;
  color: #ffffff;
  border-color: #057fd0;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  text-shadow: 0px -1px 0px #5b6178;
  background: linear-gradient(#33bdef, #019ad2);
}

iframe {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  height: clamp(20rem, 11.667rem + 41.67vw, 45rem);
  margin: 0 auto;
}
