body{
    background-color: lightslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-image: url(1671030402_1173817.jpg);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.answer {
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
.skip {
    color: azure;
    background-color: black;
    font-size: 25px;
    font-weight: 800;
    padding: 10px;
    margin-left: auto;
    display: block;
    margin-top: 10px;
}
.mani {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timer {
    width: 100px;
    height: 100px;
   border-radius: 50%;
}
.quesstion {
    width: 800px;
    border-radius: 10px;
    box-shadow: 3px 11px 97px 26px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 11px 97px 26px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 11px 97px 26px rgba(0,0,0,0.75);
}
b{
    font-size: 40px;
    text-align: center;
}
.box {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
}
.btn {
    transition: all;
    text-decoration: none;
    font-size: 50px;
    background-color: brown;
    width: 100%;
    color: aliceblue;
    display: block;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 3px 11px 97px 26px rgba(255,0,0,0.75);
-webkit-box-shadow: 3px 11px 97px 26px rgba(255,0,0,0.75);
-moz-box-shadow: 3px 11px 97px 26px rgba(255,0,0,0.75);
}
.btn:hover{
    opacity: 0.7;
}


.btn1 {
    background-color: blue;
    box-shadow: 3px 11px 97px 26px rgba(7,31,245,0.75);
-webkit-box-shadow: 3px 11px 97px 26px rgba(7,31,245,0.75);
-moz-box-shadow: 3px 11px 97px 26px rgba(7,31,245,0.75);
}
.btn2 {
}


.answer2 {
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
.skip2 {
    color: azure;
    background-color: black;
    font-size: 25px;
    font-weight: 800;
    padding: 10px;
    margin-left: auto;
    display: block;
    margin-top: 10px;
}
.mani2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timer2 {
    width: 100px;
    height: 100px;
   border-radius: 50%;
}
.quesstion2 {
    width: 800px;
    border-radius: 10px;
    box-shadow: 3px 11px 97px 26px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 11px 97px 26px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 11px 97px 26px rgba(0,0,0,0.75);
}
b{
    font-size: 40px;
    text-align: center;
}
.box2 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
}
.btn2 {
    transition: all;
    text-decoration: none;
    font-size: 50px;
    background-color: brown;
    width: 100%;
    color: aliceblue;
    display: block;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 87px -9px rgba(240,0,0,0.75);
    -webkit-box-shadow: 10px 10px 87px -9px rgba(240,0,0,0.75);
    -moz-box-shadow: 10px 10px 87px -9px rgba(240,0,0,0.75);
}
.btn:hover{
    opacity: 0.7;
}


.btn3 {
    background-color: orange;
    box-shadow: 10px 10px 87px 0px rgba(245,209,21,0.75);
    -webkit-box-shadow: 10px 10px 87px 0px rgba(245,209,21,0.75);
    -moz-box-shadow: 10px 10px 87px 0px rgba(245,209,21,0.75);
}
.btn4 {
}


.pecmo{
    text-align: center;
    margin: 300px;
    font-size: 50px;
    color: brown;
    background-color: azure;
    padding: 10px;

    margin-bottom: 0;

}

.salut{


    position: relative;
    top: -450px;
    display: block;
    width: 900px;
    margin: 0 auto;
}